<div class="buildings-container">
	<div class="page-header">
		<h1>
			More Info
		</h1>
	</div>

	<table st-safe-src="safeFloors" st-table="displayedFloors" class="table table-striped">
		<thead>
		<tr>
			<th st-sort="name" st-skip-natural="true" st-sort-default="true">Floor</th>
			<th>Current Occupancy</th>
		</tr>

		</thead>
		<tbody>
		<tr ng-repeat="floor in displayedFloors">
			<td>{{floor.name}}</td>
			<td>{{floor.occupancy}}</td>
		</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="2" class="text-center">
					<div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10"></div>
				</td>
			</tr>
		</tfoot>
	</table>

	<br>

	<div>
		<h2>Occupancy by Hour</h2>
		<canvas id="occupancyVsTime" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="true" chart-series="series"></canvas>
</div>

</div>
