<div class="page-header">
	<h1>
		More Info
	</h1>
</div>


<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Floor</th>
			<th>Occupancy</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Floor 1</td>
			<td>56</td>
		</tr>

		<tr>
			<td>Floor 2</td>
			<td>12</td>
		</tr>

		<tr>
			<td>Floor 4</td>
			<td>33</td>
		</tr>

		<tr>
			<td>Floor 5</td>
			<td>28</td>
		</tr>
	</tbody>
</table>

<br>

<div>
	<h2>Occupancy vs. Time Graph</h2>
	<img src="assets/img/crc.png" class="img-thumbnail">
</div>