<div class="page-header">
	<h1>Campus Map</h1>
</div>

<!-- LOADING MESSAGE -->
<div class="jumbotron text-center" ng-show="main.processing">
	<h3>Loading Map and Data...</h3>
</div>

<div>
	<ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options">
		<ui-gmap-window coords="selectedMarker.coords" show="infoWindow.options.show" options="infoWindow.options" closeClick="closeClick()"
			templateUrl="infoWindow.templateUrl"
			templateParameter="infoWindow.templateParameter" ng-cloak>
		</ui-gmap-window>

		<ui-gmap-markers models="markers" coords="'coords'" icon="'icon'" options="'options'" click="onClick()"></ui-gmap-markers>
		<ui-gmap-polygon static="true" ng-repeat="p in polygons track by p.id" path="p.path" stroke="p.stroke" visible="p.visible"
                 geodesic="p.geodesic" fill="p.fill" fit="false"></ui-gmap-polygon>
	</ui-gmap-google-map>
</div>



