.angular-google-map-container { 
    height: 650px; 
}

.container-fluid {
    padding-right: 50px;
    padding-left: 50px;
}

.buildings-container {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
